@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

.root {
    --primary-color: #131313;
    --secondary-color: #424242;
    --button-color: #FF900E;
}

/* utilities */

body {
    font-family: 'Work Sans', sans-serif;
    /* margin: auto 240px; */
    /* width: 75vw; */
    padding: 0;
    margin-bottom: 130px;

    /* border: 2px solid red; */
    /* height: 1322px; */
    /* margin: 0 auto; */
    background-image: url(../images/rgba\(255\,\ 144\,\ 14\,\ 0.1\).png);
    background-repeat: no-repeat;
    background-size: 100% 27%;
    background-position: fixed;
    zoom: 0.8;


}

.container {
    margin-left: 240px;
    margin-right: 240px;

}

.primary-button {
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px 25px;
    border: none;
}



/* header styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* margin-top: 87px; */
    align-items: center;

}

.nav-title {
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--primary-color);

}

.features {
    list-style-type: none;
    display: flex;
    justify-content: space-between;


}

.feature {
    margin-left: 60px;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--secondary-color);
}

/* banner styles */
.banner-section {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    max-width: 862px;
    /* min-height: 225px; */
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 30px;


}

.banner-sub-title {
    text-align: center;
    max-width: 868px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.banner-image img {
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.banner-button {
    /* left: 40%;
    position: relative; */
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* quick list styles */
.quick-list-section {
    margin-top: 100px;


}

.quick-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    align-items: center;

}

.quick-list-title {
    font-size: 45px;
}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/* feature list styles */
.feature-list-section {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 54px;


}

.feature-list-title {
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-list-subtitle {
    color: #727272;

}

.features-love-enjoy {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;

    /* width: 100%; */

}


.feature-enjoy {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px;
}

.feature-enjoy-title {
    font-size: 1.25rem;

}

.feature-enjoy-description {
    color: #727272;
}

.feature-list-image img {
    /* height: auto; */
    /* width: 100%; */
    object-fit: cover;
    width: 100%;
    max-height: 100%;

}

.experience-button {
    width: 20rem;
    height: 10rem;
    word-wrap: break-word;
    font-size: 50px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 60px;
    right: 30px;
}

/* ------
facts 
--------*/
.fact-heading {
    width: 50%;
    margin-top: 130px;
    margin-bottom: 100px;
}

.fact-title {
    font-size: 45px;
}

.fact-sub-title {
    color: #727272;
}

.some-fact-boxes {
    display: flex;
    justify-content: space-around;

}


.fact-box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 35px;
    text-align: center;
    transition: width 1s, height 1s, transform 2s;

}

.fact-box:hover {
    animation-delay: 2s;
    transform: rotate(360deg);

}

.fact-number {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* -------------
sponsor styles 
----------------*/
.sponsor-section {

    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.sponsor-heading {
    /* width: 50%; */
    margin-top: 150px;
    text-align: center;
    
}
.sponsor-title{
    font-size: 45px;
}
.sponsor-sub-title{
    color: #727272;
}

.sponsor-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;

}

.sponsor-image img {
    scale: 0.65;
    filter: brightness(30%);

}

/* ---------------
footer styles 
-----------------*/
.footer-container {
    width: 75vw;
    margin: 130px auto;
}

.footer-section {
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    min-height: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries */

@media screen and (max-width:576px) {
    body {
        background-size: 100% 16.5%;
        margin-left: 50px;
        margin-right: 50px;

    }

    .container {
        margin: 0 auto;
        width: 100%;
    }

    .nav-bar {
        flex-direction: column;
    }
    .features {
        padding-left: 0px;
    }
    .feature-mobile{
        margin-left: 0;
    }

    .quick-list-section {
        margin-top: 80px;
    }

    .quick-list {
        grid-template-columns: repeat(1, 1fr);

    }

    .quick-list-images {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .quick-list-heading {
        text-align: center;
    }

    .banner-section {
        margin-top: 20px;
    }
    .feature-list-section{
        grid-template-columns: repeat(1, 1fr)
    }
    .experience-button{
        position: static;
        width: 100%;
        margin-top: 10px;
        /* scale: 0.5; */
    }
    .fact-heading{
        width: 100%;
        text-align: center;
    }
    .some-fact-boxes{
        flex-direction: column;
    }
    .sponsor-title{
        margin-top: -100px;
    }
    .sponsor-list{
        flex-wrap: wrap;
    }
    .footer-container{
        width: 100%;
        text-align: center;
    }
    
}